# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
apps/web/.next/
apps/web/out/

# Expo
apps/mobile/.expo/
apps/mobile/dist/

# Env files
.env
.env.local
.env.*.local

# Build outputs
dist/
build/

# Turbo
.turbo/

# Supabase
supabase/.temp/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Archivos de trabajo / imágenes sueltas
*.pdf
*.jpg
*.jpeg
*.png
*.gif
*.webp
